:root {
  --red-button: #ff605c;
  --yellow-button: #ffbd44;
  --green-button: #00ca4e;
  --red-tag: #e84b31;
  --blue-tag: #3476e1;
  --orange-tag: #de8b32;
  --yellow-tag: #e5bd3f;
  --green-tag: #56b83d;
  --purple-tag: #9e54ba;
  --msg-sidebar: #e6e6e6;
  --msg-main: #ffffff;
  --msg-main-focus: #f2f2f2;
  --msg-main-hover: #f8f8f8;
  --msg-red: #ec6752;
  --msg-time-text: #b3b3b3;
  --msg-talk-text: #7a7a7a;
  --chatroom-main: #9fc7b5;
  --chatroom-yourchat: #ffffff;
  --chatroom-mychat: #fbe64d;
  --chatroom-time: #000000;
  --chatroom-personnel: #758b7f;
  --chatroom-button-disabled: #f2f2f2;
}
